.About {
  text-align: center;
}

.Animation {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  overflow: hidden;
  width: 100%;
}

.About-Card {
  font-size: 12pt;
  -webkit-animation: slideInLeft 0.75s ease both;
  -webkit-animation-delay: 0.75s;
  animation: slideInLeft 0.75s ease both;
  animation-delay: 0.75s;
}

@-webkit-keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-700px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.About-Label {
  font-size: 18pt;
  margin-top:15px;
  margin-bottom: 10px;
  font-family:"Raleway-bold";
}

.About i {
  font-size: 25px;
  color:#2a9d8f;
}

.About-Skills {
  text-align: left;
  color:#e76f51;
}

.Skill-Item {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.Who-This {
  text-align:left;
  font-size: 14pt;
}

.Profile-Pic {
  object-fit: cover;
  width: 50%;
}

@media (max-width: 767.98px) {
  .About {
    text-align: left;
  }

  .About-Card {
    font-size: 10pt;
  }

  .About-Label {
    font-size: 14pt;
  }

  .Who-This {
    font-size: 12pt;
    text-align: center;
  }
  .Skill-Item {
    font-size: 10pt;
  }
}
