.About {
  text-align: center;
}

.About-Card {
  font-size: 12pt;
}

.About-Label {
  font-size: 18pt;
  margin-top:15px;
  margin-bottom: 10px;
  font-family:"Raleway-bold";
}

.About i {
  font-size: 25px;
  color:#2a9d8f;
}

.About-Skills {
  text-align: left;
  color:#e76f51;
}

.Skill-Item {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.Who-This {
  text-align:left;
  font-size: 14pt;
}

.Profile-Pic {
  object-fit: cover;
  width: 50%;
}
