.Projects {
  text-align: center;
  color: #264653;
}

.Projects-Skew {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(./images/projects.jpg);
  background-size: cover;
  background-position: center;

  transform: skewY(-5deg);
  margin-bottom: 9rem;
}

.Skew-Normal {
  transform: skewY(5deg) translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 2.5rem;
}

.Dot-Wrapper {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #c1c1c1;
  justify-content: start;
  align-items: center;
  background-color: #eaeaea;
}

#Dot-1 {
  background-color: #e76f51;
}

#Dot-2 {
  background-color: #e9c46a;
}

#Dot-3 {
  background-color: #2a9d8f;
}

.Browser-Dot {
  background-color: #264653;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.Project {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 285px;
  width: 330px !important;
  margin: 0 auto;
}

.Project-Image {
  width: 100%;
  object-fit: cover;
}

.Project-Image img {
  border-radius: 5px;
}

.Button-Color {
  color: #2a9d8f !important;
  border-color: #2a9d8f !important;
}

.Button-Color:hover {
  background-color: #2a9d8f !important;
  color: #fff !important;
}
